# 보유데이터  
- 종속변수 : 서울시 골목상권의 분기별 매출  
- 독립변수 후보 : 상권과 배후지에 대한 생활인구, 직장인구, 아파트, 소득소비 등의 다양한 변수

### 서울시 골목상권의 분기별 매출(2017~2021)  
- 기준년도와 분기, 상권코드등으로 행을 구분하며, 총매출을 사용할 예정

In [6]:
import pandas as pd
target = pd.read_csv('D:/데이터마이닝_데이터/상권_정리/전체구/매출/골목상권매출_17-21.csv', encoding='cp949')

In [7]:
target

       기준_년_코드  기준_분기_코드 상권_구분_코드_명    상권_코드          총매출
0         2021         4       골목상권  2111090   6164144274
1         2021         4       골목상권  2111089  18215725779
2         2021         4       골목상권  2111088   3130903256
3         2021         4       골목상권  2111087   2770689276
4         2021         4       골목상권  2111086   4831084227
...        ...       ...        ...      ...          ...
21792     2017         4       골목상권  2111086   5443196939
21793     2017         4       골목상권  2111087   2608250578
21794     2017         4       골목상권  2111088   4298428387
21795     2017         4       골목상권  2111089  11780952910
21796     2017         4       골목상권  2111090  11375071506

[21797 rows x 5 columns]

### 독립변수 후보  
- 년도, 분기, 상권코드로 매추출과 매칭시킴
- 한주제에 대해 해당하는 변수들이 들어있음

In [16]:
x1 = pd.read_csv('D:/데이터마이닝_데이터/상권_정리/서울시 우리마을가게 상권분석서비스(상권-아파트).csv', encoding='cp949')

In [17]:
x1

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,아파트_단지_수,아파트_면적_66_제곱미터_미만_세대_수,아파트_면적_66_제곱미터_세대_수,아파트_면적_99_제곱미터_세대_수,...,아파트_면적_165_제곱미터_세대_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수,아파트_평균_면적,아파트_평균_시가
0,2021,4,R,전통시장,2130326,고덕 골목형상점가,1,6.0,NaN,NaN,...,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,41,177666667
1,2021,3,R,전통시장,2130326,고덕 골목형상점가,1,6.0,NaN,NaN,...,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,41,177666667
2,2021,2,R,전통시장,2130326,고덕 골목형상점가,1,6.0,NaN,NaN,...,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,41,177666667
3,2021,1,R,전통시장,2130326,고덕 골목형상점가,1,6.0,NaN,NaN,...,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,41,177666667
4,2021,4,R,전통시장,2130325,명일전통시장,5,203.0,372.0,NaN,...,NaN,3.0,20.0,1.0,227.0,324.0,NaN,NaN,61,238201494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29178,2017,1,U,관광특구,1001493,동대문패션타운 관광특구,9,499.0,98.0,152.0,...,29.0,10.0,461.0,104.0,12.0,23.0,71.0,201.0,75,255165210
29179,2017,4,U,관광특구,1001491,이태원 관광특구,69,335.0,192.0,55.0,...,61.0,30.0,113.0,130.0,210.0,102.0,52.0,70.0,83,365951239
29180,2017,3,U,관광특구,1001491,이태원 관광특구,69,335.0,192.0,55.0,...,61.0,30.0,113.0,130.0,210.0,102.0,52.0,70.0,83,365951239
29181,2017,2,U,관광특구,1001491,이태원 관광특구,69,335.0,192.0,55.0,...,61.0,30.0,113.0,130.0,210.0,102.0,52.0,70.0,83,365951239
29182,2017,1,U,관광특구,1001491,이태원 관광특구,69,335.0,192.0,55.0,...,61.0,30.0,113.0,130.0,210.0,102.0,52.0,70.0,83,365951239

In [18]:
x2 = pd.read_csv('D:/데이터마이닝_데이터/상권_정리/서울시 우리마을가게 상권분석서비스(상권-생활인구).csv', encoding='cp949')

In [19]:
x2

,기준 년코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,연령대_10_생활인구_수,...,여성연령대_60_이상_토요일시간대_3_생활인구_수,여성연령대_60_이상_토요일시간대_4_생활인구_수,여성연령대_60_이상_토요일시간대_5_생활인구_수,여성연령대_60_이상_토요일시간대_6_생활인구_수,여성연령대_60_이상_일요일시간대_1_생활인구_수,여성연령대_60_이상_일요일시간대_2_생활인구_수,여성연령대_60_이상_일요일시간대_3_생활인구_수,여성연령대_60_이상_일요일시간대_4_생활인구_수,여성연령대_60_이상_일요일시간대_5_생활인구_수,여성연령대_60_이상_일요일시간대_6_생활인구_수
0,2021,4,U,관광특구,1001496,강남 마이스 관광특구,102294,51045,51249,6685,...,165,162,146,44,65,106,136,143,122,42
1,2021,4,U,관광특구,1001495,잠실 관광특구,3371333,1642782,1728551,336818,...,6171,6438,7573,4084,6809,6814,5921,6162,7116,4012
2,2021,4,U,관광특구,1001494,종로?청계 관광특구,3868466,2102996,1765468,124708,...,11876,11447,8544,3741,5398,6608,7575,7420,6586,4088
3,2021,4,U,관광특구,1001493,동대문패션타운 관광특구,3218311,1544837,1673475,128933,...,6492,5841,5121,3053,5425,5660,4921,4709,5565,4812
4,2021,4,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,3954704,2007791,1946913,131802,...,11943,11137,5757,1560,2578,4429,6128,5742,4045,1390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33362,2017,1,A,골목상권,2110005,세검정,143249,62982,80268,21876,...,400,377,544,485,965,778,431,431,643,493
33363,2017,1,A,골목상권,2110004,대신고등학교,353902,156216,197686,66602,...,1133,1126,1546,1024,1983,1778,1153,1109,1554,1083
33364,2017,1,A,골목상권,2110003,세검정초등학교,374027,166810,207216,60121,...,1045,961,1298,1270,2791,2288,1160,1057,1461,1287
33365,2017,1,A,골목상권,2110002,독립문역 1번,268151,117436,150714,41597,...,1021,1002,1312,928,1499,1466,936,950,1320,922
33366,2017,1,A,골목상권,2110001,이북5도청사,148356,65549,82808,22420,...,592,582,840,579,1169,1026,579,621,817,571

In [21]:
x3 = pd.read_csv('D:/데이터마이닝_데이터/상권_정리/전체구/서울시 우리마을가게 상권분석서비스(상권-직장인구).csv', encoding='cp949')

In [22]:
x3

,기준_년월_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,...,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
0,2021,4,U,관광특구,1001496,강남 마이스 관광특구,15904,8904,7000,59,...,3361,2887,1246,225,34,2353,2824,1361,350,78
1,2021,4,U,관광특구,1001495,잠실 관광특구,24375,14199,10176,120,...,4186,3496,2297,1685,69,2238,2379,2121,2217,1152
2,2021,4,U,관광특구,1001494,종로?청계 관광특구,32935,17150,15785,68,...,4911,4591,4158,1190,53,3072,5054,4892,2243,471
3,2021,4,U,관광특구,1001493,동대문패션타운 관광특구,6054,2958,3096,36,...,737,662,600,403,23,891,958,498,461,265
4,2021,4,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,104830,53674,51156,423,...,16080,15133,10824,2640,286,18274,17927,8251,4902,1516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31219,2017,2,A,골목상권,2110005,세검정,445,159,286,0,...,38,47,27,27,0,58,102,56,43,27
31220,2017,2,A,골목상권,2110004,대신고등학교,41,14,27,0,...,1,2,9,1,0,1,3,8,12,3
31221,2017,2,A,골목상권,2110003,세검정초등학교,144,79,65,0,...,10,30,25,10,0,2,10,25,17,11
31222,2017,2,A,골목상권,2110002,독립문역 1번,583,152,431,0,...,29,53,31,22,0,116,119,114,61,21
31223,2017,2,A,골목상권,2110001,이북5도청사,276,158,118,0,...,37,55,41,23,0,7,31,34,32,14

In [24]:
x4 = pd.read_csv('D:/데이터마이닝_데이터/상권_정리/전체구/서울시 우리마을가게 상권분석서비스(상권배후지-상주인구).csv', encoding='cp949')

In [25]:
x4

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_상주인구_수,남성_상주인구_수,여성_상주인구_수,연령대_10_상주인구_수,...,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수
0,2021,4,A,골목상권,2111090,강일동주민센터,6033,2953,3080,1151,...,605,538,370,410,542,428,792,2683,0,2683
1,2021,4,A,골목상권,2111089,상일여고(상일초등학교),11533,5759,5774,2269,...,1144,1107,674,884,900,980,1229,4395,0,4395
2,2021,4,A,골목상권,2111088,고덕동성당,12677,6247,6430,2302,...,1204,1123,832,1089,957,1043,1386,4928,0,4928
3,2021,4,A,골목상권,2111087,고덕중학교(고덕2동주민센터),8423,4354,4069,1570,...,897,750,404,690,649,629,947,3504,0,3504
4,2021,4,A,골목상권,2111086,한영중고,11672,5758,5914,2516,...,1242,1219,654,580,1143,951,1367,4037,0,4037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21795,2017,1,A,골목상권,2110005,세검정,9332,4502,4830,1574,...,935,767,622,629,876,799,1137,3832,187,3645
21796,2017,1,A,골목상권,2110004,대신고등학교,12241,5805,6436,2190,...,1187,1102,738,787,1171,989,1649,5135,2483,2652
21797,2017,1,A,골목상권,2110003,세검정초등학교,11449,5548,5901,2066,...,1110,1038,747,679,1131,1014,1292,4345,266,4079
21798,2017,1,A,골목상권,2110002,독립문역 1번,8409,3989,4420,1717,...,747,896,501,530,821,703,969,3063,2560,503
21799,2017,1,A,골목상권,2110001,이북5도청사,5797,2803,2994,1047,...,575,519,383,339,548,527,678,2108,112,1996

In [27]:
x5 = pd.read_csv('D:/데이터마이닝_데이터/상권_정리/전체구/서울시 우리마을가게 상권분석서비스(상권-소득소비).csv', encoding='cp949')

In [28]:
x5

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,여가_지출_총금액,문화_지출_총금액,교육_지출_총금액,유흥_지출_총금액
0,2021,4,A,골목상권,2110001,이북5도청사,4305934.0,8.0,5.204276e+08,1.291260e+08,64853632.0,37122367.0,65974602.0,8.834376e+07,22223650.0,14656697.0,7.618534e+07,21941557.0
1,2021,4,A,골목상권,2110002,독립문역 1번,3463885.0,7.0,2.324652e+08,5.499899e+07,28932090.0,17084860.0,28271372.0,4.093308e+07,10180461.0,6575012.0,3.580528e+07,9684061.0
2,2021,4,A,골목상권,2110003,세검정초등학교,3548020.0,7.0,1.349699e+09,3.367042e+08,166150296.0,98720958.0,170559024.0,2.273671e+08,54707608.0,39088030.0,1.992198e+08,57182240.0
3,2021,4,A,골목상권,2110004,대신고등학교,2644953.0,6.0,7.127728e+08,2.056497e+08,84170011.0,51668351.0,100817261.0,1.118437e+08,23406627.0,22615164.0,8.286516e+07,29736776.0
4,2021,4,A,골목상권,2110005,세검정,3703145.0,7.0,8.847016e+08,2.214469e+08,109882417.0,64738346.0,111988892.0,1.498229e+08,37478670.0,25606895.0,1.265444e+08,37192149.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32557,2017,1,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,3374268.0,7.0,3.927186e+08,1.087167e+08,50613591.0,31629067.0,57724736.0,6.835523e+07,18120779.0,12007946.0,2.774372e+07,17806813.0
32558,2017,1,U,관광특구,1001493,동대문패션타운 관광특구,3703242.0,7.0,2.575916e+09,5.718456e+08,331658370.0,216948420.0,284618706.0,4.328987e+08,133108260.0,78089725.0,4.192844e+08,107463896.0
32559,2017,1,U,관광특구,1001494,종로?청계 관광특구,2350877.0,5.0,2.640514e+09,7.498735e+08,329659514.0,205602917.0,379663271.0,4.201432e+08,120789050.0,82279604.0,2.429368e+08,109565869.0
32560,2017,1,U,관광특구,1001495,잠실 관광특구,4738833.0,8.0,7.600040e+09,1.816018e+09,959308913.0,601365457.0,893135612.0,1.340093e+09,335563062.0,228534622.0,1.095590e+09,330430397.0
32561,2017,1,U,관광특구,1001496,강남 마이스 관광특구,5003931.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

이외의 상권데이터를 통해 분석을 진행할 예정